@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Finger+Paint&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

.rodape footer {
  background-color: rgba(100, 170, 70, 0.34);
  position: absolute;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 50px 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

a p {
  position: absolute;
  bottom: 100px;
  padding-left: 20px;
  font-size: 3em;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: normal;
}

a p:hover {
  color: rgb(110, 170, 70);
  font-style: italic;
}

* body {
  background:
    linear-gradient(to left, rgba(1, 2, 0, 0), rgb(89, 88, 94)),
    url("./images/banda-tocando.jpg") center/cover no-repeat;
  background-position: top;
}

* h1 {
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgba(7, 84, 0, 0.778)
  );
  font-family: Finger Paint;
  font-size: 7em;
  margin: 0;
  text-align: center;
}

* h2 {
  width: 200px;
  text-align: center;
  font-family: monospace;
  color: black;
  font-size: 3em;
  border-radius: 30px;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  font-size: 7px;
  margin-left: 300px;
  margin-right: 300px;
}

* h3 {
  font-family: monospace;
  justify-content: space-evenly;
  font-size: 3em;
}

* a {
  text-decoration: none;
  padding: 40px;
}

* p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-size: 2em;
  text-align: left;
}

* h2:hover {
  color: rgb(253, 217, 169);
  transition: 0.8s;
  font-size: 4em;
}

#menu {
  display: flex;
  justify-content: space-around;
}

#menu-repertorio {
  display: flex;
  justify-content: space-around;
}

#menu-escalas {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  border-radius: 50px;
}

#adicionar-cancoes {
  background-color: rgba(255, 255, 255, 0.16);
  padding: 50px;
  border-radius: 50px;
}

#escalas-ativas {
  background-color: rgba(255, 255, 255, 0.16);
  padding: 50px;
  border-radius: 50px;
}

#adicionar-musicos {
  background-color: rgba(255, 255, 255, 0.115);
  padding: 50px;
  border-radius: 50px;
  width: 500px;
}

#repertorio-atual p {
  display: inline-block;
  justify-content: space-between;
  width: 400px;
  align-content: center;
}

